#UserinfoModify{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .title{
            position: relative;
            width: 100%;
            display: flex;
            flex-flow: column;
            text-align: center;
            margin-bottom: 100px;
            h2{
                font-size: 28px;
                font-weight: 600;
            }
            button{
                top:30px;
                right:310px;
                position: absolute;
                width: 25px;
                height: 25px;
                cursor: pointer;
                background: #fff;
                border: 0;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            
        }
        .content{
            width: 100%;
            display: flex;
            flex-flow: column;
            form{
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                ul{
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                    width: 700px;
                    li{
                        display: flex;
                        justify-content: left;
                        width: 700px;
                        padding: 20px 0 7px 0;
                        label{
                            font-weight: 500;
                            padding-top: 5px;
                            height: 35px;
                            width: 100px;
                            margin-right: 20px;
                            font-size: 18px;
                        }
                        input{
                            padding: 5px 7px;
                            border: 1px solid #ddd;
                            width: 500px;
                            height: 35px;
                            outline-offset: -1px;
                            outline: 1px solid transparent;
                            transition: all 0.3s;
                            &:focus{
                                outline-color: #1e58bc;
                            }
                        }
                        
                        span{
                            padding-top: 5px;
                            display: block;
                            width: 200px;
                            height: 35px;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        button{
                            
                            margin-left: 20px;
                            width: 60px;
                            height: 35px;
                            font-size: 12px;
                            color: #fff;
                            background: #1e58bc;
                            border-radius: 3px;
                            font-weight: 600;
                            cursor: pointer;
                            border: 0;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                background: #fff;
                                color: #1e58bc;
                                border: 1px solid #1e58bc;
                            }
                        }
                    }
                    .hide_text_box{
                        transform: translateX(120px);
                        width: 100%;
                        p{
                            font-size: 12px;
                            color: #f03f40;
                           
                        }
                    }
                }
                .button-box{
                    justify-content: center;
                    display: flex;
                    width: 100%;
                    button{
                        margin: 0 5px;
                        width: 100px;
                        height: 50px;
                        color: #fff;
                        background: #1e58bc;
                        border-radius: 3px;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                        border: 0;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            background: #fff;
                            color: #1e58bc;
                            border: 1px solid #1e58bc;
                        }
                    
                    }
                }
                .text-box{
                    margin-top: 50px;
                    margin-bottom: 20px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    width: 100%;
                    p{
                        vertical-align: top;
                        color: red;
                        padding-top: 10px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .delete-modal{
        z-index: 99;
        position: absolute;
        top: 30%;
        left: 40%;
        width: 400px;
        background: #fff;
        border: 1px solid #1e58bc;
        border-radius: 10px;
        overflow: hidden;
        padding: 30px 20px;
        text-align: center;
        .modal-title {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: column nowrap;
            align-items: center;
            h2 {
                width: 100%;
                padding-top: 5px;
                font-size: 26px;
                font-weight: 600;
                color: #1e58bc;
                line-height: 120%;
                padding: 15px 0 30px 0;
            }
        }
        .button_box {
            &.ok {
                display: flex;
                justify-content: center;
                align-items: center;
                .ok_btn {
                    width: 45%;
                    &.ok_btn1 {
                        margin-right: 10px;
                    }
                    &.ok_btn2 {
                        background: #fff;
                        border: 1px solid #333;
                        color: #333;
                    }
                }
            }
            button {
                width: 80%;
                height: 40px;
                padding: 0 20px;
                border: 1px solid #1e58bc;
                border-radius: 10px;
                background: #1e58bc;
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}