#pagenation {
    width: 100%;
    padding: 50px 0 120px 0;
    display: flex;
    justify-content: center;
    .pagenation_box {
        width: auto;
        ul {
            display: inline-flex;
            li {
                button {
                    width: 34px;
                    height: 34px;
                    background: #fff;
                    border: 0;
                    transition: 0.3s;
                    cursor: pointer;
                    img {
                        width: auto;
                    }
                    span {
                        font-size: 14px;
                        color: #111;
                    }
                    &.on {
                        color: #111;
                        font-weight: 500;
                        border-bottom: 1px solid #1e58bc;
                    }
                    &:hover {
                        background: #f0f0f0;
                    }
                }
            }
        }
    }
}