#signin {
    width: 100%;
    padding: 120px 0;
    user-select: none;
    .container {
        width: 100%;
        max-width: 460px;
        margin: 0 auto;
        .title {
            width: 100%;
            text-align: center;
            padding: 0 0 45px 0;
            h2 {
                font-size: 32px;
                font-weight: 700;
                line-height: 120%;
                color: #222;
            }
        }
        .content {
            width: 100%;
            padding: 50px 40px;
            form {
                width: 100%;
                .form_box {
                    width: 100%;
                    padding-bottom: 20px;
                    .input_box {
                        width: 100%;
                        li {
                            width: 100%;
                            display: flex;
                            flex-flow: column nowrap;
                            label {
                                width: 100%;
                                font-size: 14px;
                                font-weight: 500;
                                color: #222;
                                margin: 30px 0 10px 0;
                            }
                            input {
                                width: 100%;
                                height: 30px;
                                padding: 0 15px;
                                border: 0;
                                border-bottom: 1px solid #ddd;
                                outline-offset: -1px;
                                outline: 1px solid transparent;
                                transition: all 0.3s;
                                &:focus {
                                    outline-color: transparent;
                                }
                                &::placeholder {
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: #bbb;
                                }
                            }
                        }
                    }
                }
                .search_box {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 20px;
                    .left {
                        input {
                            appearance: none;
                            width: 13px;
                            height: 13px;
                            border: 1px solid transparent;
                            border-radius: 3px;
                            background: url(../../../../public/images/sub7/icon_radio_off.png) no-repeat 50% 50%;
                            margin-right: 5px;
                            &:checked {
                                background: url(../../../../public/images/sub7/icon_radio_on.png) no-repeat 50% 50%;
                            }
                        }
                        label {
                            margin-right: 5px;
                        }
                        img {
                            width: 10px;
                            height: 10px;
                        }
                    }
                    .right {
                        display: flex;
                        li {
                            font-size: 12px;
                            font-weight: 400;
                            color: #222;
                            a {
                                display: inline-block;
                            }
                            em {
                                margin: 0 10px;
                            }
                        }
                    }
                }
                .sns {
                    width: 100%;
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    a {
                        display: inline-block;
                        &:first-child {
                            margin-right: 10px;
                        }
                        img {
                            width: 185px;
                            height: 32px;
                        }
                    }
                }
                .button_box {
                    width: 100%;
                    padding-bottom: 20px;
                    button {
                        width: 100%;
                        height: 50px;
                        background: #333;
                        font-size: 17px;
                        font-weight: 500;
                        color: #fff;
                        border: 1px solid #333;
                        border-radius: 5px;
                        cursor: pointer;
                        &.on {
                            background: #111;
                            border: 1px solid #111;
                            cursor: pointer;
                            span {
                                color: #fff;
                            }
                        }
                        &:hover {
                            background: #111;
                        }
                    }
                }
            }
            .text_box {
                width: 100%;
                text-align: left;
                padding-bottom: 20px;
                p {
                    font-size: 12px;
                    color: #999;
                    line-height: 160%;
                }
            }
            .signup_btn {
                width: 100%;
                padding-bottom: 20px;
                button {
                    width: 100%;
                    height: 50px;
                    background: #fff;
                    font-size: 17px;
                    font-weight: 500;
                    color: #000;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid #222;
                    }
                }
            }
        }
    }
}