#curentView {
    width: 100%;
    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        text-align: center;
        .title {
            width: 100%;
            padding: 120px 0 80px 0;
            h2 {
                font-size: 32px;
                font-weight: 700;
                color: #111;
                line-height: 120%;
            }
        }
        .content {
            width: 100%;
            .binding_box_none {
                width: 100%;
                margin-top: 30px;
                padding: 50px 0;
                border: 1px solid #ddd;
                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #777;
                }
            }
            .title_text {
                width: 100%;
                text-align: left;
                display: flex;
                h2 {
                    font-size: 20px;
                    font-weight: 700;
                    color: #111;
                }
                .button-box {
                    width: auto;
                    margin-left: 20px;
                    label {
                        font-size: 14px;
                        font-weight: 500;
                        color: #666;
                        input[type='checkbox'] {
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            appearance: none;
                            background: url(../../../public/images/cart/icon_chk_off.svg) no-repeat 50% 50%;
                            background-size: 24px 24px;
                            &:checked{
                                background-image: url(../../../public/images/cart/icon_chk_on.svg);
                            }
                        }
                        span {margin: 0 0 0 10px;}
                    }
                    button {
                        margin: 0 0 0 40px;
                        font-size: 14px;
                        font-weight: 600;
                        color: #666;
                        background: none;
                        border: 0;
                        outline: 0;
                        &:focus {
                            outline: 0;
                        }
                    }
                }
                > button {
                    border: 1px solid #333;
                    background: #fff;
                    color: #333;
                    font-size: 13px;
                    font-weight: 500;
                    width: 80px;
                    height: 33px;
                    margin-left: 15px;
                    transform: translateY(-5px);
                    cursor: pointer;
                    &:hover {
                        background: #eee;
                    }
                }
            }
            .binding_box {
                width: 100%;
                padding: 50px 0 0 0;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-top: 2px solid #111;
                    text-align: center;
                    thead {
                        width: 100%;
                        height: 61px;
                        padding: 20px 0;
                        border-bottom: 1px solid #ddd;
                        tr {
                            width: 100%;
                            th {
                                font-size: 13px;
                                font-weight: 500;
                                color: #222;
                                strong {
                                    font-weight: 600;
                                    color: #333;
                                    font-size: 16px;
                                }
                                &.image {
                                    width: 100px;
                                }
                                &.product {
                                    width: auto;
                                }
                                &.cart_count {
                                    width: 88px;
                                }
                                &.cart_price {
                                    width: 110px;
                                }
                                &.cart_discount {
                                    width: 88px;
                                }
                                &.cart_mileage {
                                    width: 88px;
                                }
                                &.cart_delivery {
                                    width: 88px;
                                }
                                &.cart_delivery_cost {
                                    width: 88px;
                                }
                                &.cart_order {
                                    width: 110px;
                                }
                                &.option  {
                                    width: 15%;
                                }
                                &.price   {
                                    width: 15%;
                                }
                                &.mileage {
                                    width: 15%;
                                }
                                &.order   {
                                    width: 70px;
                                }
                                &.totpay {
                                    width: 218px;
                                }
                                &.totdelivery {
                                    width: 245px;
                                }
                                &.endcost {
                                    width: auto;
                                }
                            }
                        }
                    }
                    tbody {
                        width: 100%;
                        tr {
                            width: 100%;
                            td {
                                padding: 20px 0;
                                font-size: 14px;
                                color: #333;
                                > a {
                                    display: inline-block;
                                }
                                h3 {
                                    font-size: 18px;
                                    font-weight: 700;
                                    color: #222;
                                }
                                p {
                                    font-size: 14px;
                                    color: #777;
                                    line-height: 120%;
                                    text-decoration: line-through;
                                }
                                strong {
                                    font-size: 14px;
                                    font-weight: 700;
                                    color: #111;
                                    line-height: 190%;
                                }
                                span {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #333;
                                    line-height: 110%;
                                }
                                > ul {
                                    width: 100%;
                                     > li {
                                        width: 100%;
                                        > a {
                                            display: block;
                                            padding: 5px;
                                            border: 1px solid #ddd;
                                            font-size: 14px;
                                            font-weight: 400;
                                            color: #666;
                                            &:hover {
                                                background: #f3f3f3;
                                                color: #333;
                                            }
                                            &.middle {
                                                margin: 5px 0;
                                            }
                                            &.top {
                                                background: #111;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                                &.image {
                                    padding: 0;
                                    a {
                                        width: 100%;
                                        img {
                                            width: 100px;
                                            height: 100px;
                                        }
                                    }
                                }
                                &.product {
                                    text-align: left;
                                    > a {
                                        display: inline-block;
                                        position: relative;
                                        width: 100%;
                                        padding: 0 30px;
                                        font-size: 14px;
                                        font-weight: 500;
                                        img {
                                            position: absolute;
                                            top: -10px;
                                            right:10%;
                                            width: 40px;
                                            height: 40px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                &.mileage {
                                    img {
                                        width: 13px;
                                        height: 13px;
                                        margin-right: 3px;
                                    }
                                }
                                &.cart_count {
                                    width: 88px;
                                    > ul {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        > li {
                                            width: 40%;
                                            text-align: right;
                                            > a {
                                                border: 0;
                                                padding: 0;
                                                &:hover {
                                                    background: #fff;
                                                }
                                                img {

                                                }
                                            }
                                            > span {
                                                font-size: 14px;
                                                font-weight: 500;
                                                color: #111;
                                            }
                                        }
                                    }
                                }
                            }
                            &.td_row1 {
                                border-bottom: 1px solid #ddd;
                            }
                        }
                    }
                }
                .bottom_box {
                    width: 100%;
                    padding: 10px 0;
                    .price_box {
                        display: flex;
                        justify-content: flex-end;
                        h5 {
                            font-size: 13px;
                            color: #999;
                            margin: 0 10px;
                            line-height: 18px;
                        }
                        span {
                            font-size: 15px;
                            font-weight: 500;
                            color: #333;
                        }
                        strong {
                            font-size: 17px;
                            font-weight: 600;
                            color: #111;
                        }
                    }
                }
            }
            .order_button_box {
                width: 100%;
                padding-top: 50px;
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        .continue {
                            width: 280px;
                            height: 40px;
                            font-size: 14px;
                            font-weight: 600;
                            color: #333;
                            border: 1px solid #333;
                            background: #fff;
                            &:hover {
                                background: #eee;
                            }
                        }
                        &.order_button {
                            width: 100%;
                            button {
                                width: 130px;
                                height: 40px;
                                font-size: 13px;
                                font-weight: 500;
                                color: #fff;
                                border: 1px solid #333;
                                background: #333;
                                margin-bottom: 10px;
                                &:hover {
                                    background: #000;
                                }
                                &:nth-child(1){
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }    
            }
            .info_box {
                width: 100%;
                margin-top: 80px;
                text-align: left;
                border: 1px solid #ddd;
                h3 {
                    height: 35px;
                    background: #eee;
                    padding: 10px 8px;
                    font-size: 13px;
                    font-weight: 600;
                    color: #333;
                }
                ul {
                    width: 100%;
                    padding: 20px 10px;
                    li {
                        width: 100%;
                        &.info_box_subtitle {
                            width: 100%;
                            padding: 20px 0;
                            h4 {
                                font-size: 13px;
                                font-weight: 500;
                                color: #555;
                            }
                        }
                        p {
                            color: #777;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}