#section5 {
    width: 100%;
    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .title {
            width: 100%;
            padding: 140px 0 80px 0;
            text-align: center;
            h2 {
                font-size: 32px;
                font-weight: 700;
                color: #111;
            }
            span {
                display: block;
                font-size: 18px;
                font-weight: 400;
                color: #999;
                margin-top: 18px;
            }
        }
        .content {
            width: 100%;
            display: flex;
            .left {
                width: calc(50% - 16px);
                height: 80vh;
                position: sticky;
                top: 120px;
                left: 0;
                margin-right: 16px;
                background: url(../../../../public/images/intro/section5/section5_left.png) no-repeat 100% 100%;
                background-color: #eee;
                background-position-y: 10px;
                .text_box {
                    position: absolute;
                    top: 50px;
                    left: 10%;
                    width: 100%;
                    span {
                        display: block;
                        font-size: 16px;
                        font-weight: 800;
                        color: #111;
                        margin-bottom: 30px;
                    }
                    h2 {
                        font-size: 32px;
                        font-weight: 700;
                        color: #111;
                        margin-bottom: 12px;
                    }
                    P {
                        font-size: 16px;
                        font-weight: 400;
                        color: #999;
                        margin-bottom: 30px;}
                    a {
                        display: block;
                        width: 90px;
                        height: 32px;
                        line-height: 240%;
                        font-size: 12px;
                        font-weight: 500;
                        color: #fff;
                        background: #111;
                        border-radius: 16px;
                        text-align: center;
                        &:hover {
                            background: #1e58bc;
                            color: #fff;
                        }
                    }
                    &.move {
                        transition: all 0.3s ease-in-out;
                        span {
                            font-size: 22px;
                        }
                        h2 {
                            font-size: 38px;
                        }
                        p {
                            font-size: 18px;
                        }
                        a {
                            width: 80%;
                            height: 46px;
                            font-size: 16px;
                            padding: 5px;
                        }
                    }
                }
            }
            .right {
                width: calc(50% - 16px);
                .img_box {
                    width: 100%;
                    position: relative;
                    display: flex;
                    margin-bottom: 30px;
                    > a {
                        display: block;
                        width: 34%;
                        margin-right: 40px;
                        position: relative;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        padding: 5px;
                        overflow: hidden;
                        img {
                            width: 210px;
                            height: 210px;
                        }
                        &:hover {
                            .hover_box {
                                transition: all 0.3s ease-in-out;
                                opacity: 1;
                                .likes {
                                    transition: all 0.4s ease-in-out;
                                    top: 5px;
                                }
                            }
                        }
                        .hover_box {
                            position: absolute;
                            opacity: 0;
                            padding: 10px;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            text-align: right;
                            .likes {
                                position: absolute;
                                z-index: 2;
                                top: -20px;
                                right: 10px;
                                width: 80px;
                                span {
                                    font-size: 10px;
                                }
                            }
                            .icon_box {
                                position: absolute;
                                z-index: 2;
                                top: 38%;
                                left: 27%;
                                display: flex;
                                a {
                                    display: inline-block;
                                    margin-right: 30px;
                                    img {
                                        width: 35px;
                                        height: 35px;
                                    }
                                }
                            }
                            .cart_box {
                                position: absolute;
                                z-index: 2;
                                bottom: 20px;
                                right: 20px;
                                a {
                                    display: block;
                                    img {
                                        width: 35px;
                                        height: 35px;
                                    }
                                }
                            }
                        }
                    }
                    .product_info_box {
                        width: 66%;
                        padding-top: 30px;
                        a {
                            display: block;
                            width: 100%;
                            h2 {
                                font-size: 18px;
                                font-weight: 400;
                            }
                            ul {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                li {
                                    display: inline-block;
                                    padding: 16px 8px 0 0;
                                    font-size: 16px;
                                    font-weight: 600;
                                    span {
                                        color: #ff4948;
                                    }
                                    strong {
                                        color: #111;
                                    }
                                    h4 {
                                        color: #999;
                                        text-decoration: line-through;
                                        line-height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}